.container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1155px;
    padding: 20px 0;
    margin: 0 auto;

    .edit_area {
        width: 825px;
        margin-right: 20px;

        section {
            padding: 50px 0;
            border-bottom: 1px solid #eee;

            &:first-child {
                padding-top: 0;
            }
        }

        .title_area {
            .title {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0 0 5px 0;
                padding: 0;
            }

            .description {
                font-size: 1rem;
                color: #b1b1b1;
                margin: 0 0 10px 0;
                padding: 0;
            }
        }

        .editor {
            position: relative;

            .controller {
                display: flex;
                justify-content: space-between;

                .button_add {
                    background: #a0a0a0;
                    color: #fff;
                    border: 1px solid #a0a0a0;
                    padding: 3px 7px;
                    border-radius: 5px;
                    transition: .25s;
                    min-width: 80px;
                    margin-left: 5px;

                    &:hover {
                        background: #000;
                        color: #fff;
                        border: 1px solid #000;
                        transition: .25s;
                    }
                }
            }

            .auto_complete_area {
                position: absolute;
                top: 45px;
                z-index: 9;
                
                width: 100%;
                background: #fff;
                padding: 15px;
                border-radius: 5px;
                box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.2);

                .auto_complete_notice {
                    display: flex;
                    align-items: center;

                    color: #787878;
                    margin: 0 0 20px 0;
                    padding: 0;

                    img {
                        width: 18px;
                        height: auto;
                        margin-right: 5px;
                        padding-top: 3px;
                    }
                }

                .auto_complete_item {
                    margin-bottom: 10px;

                    &:last-child {
                        margin: 0;
                    }
                }

                .walfare_category {
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin: 0 0 8px 0;
                    padding: 0;
                }

                .walfare_list_area {
                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            color: #979797;
                            font-size: 1rem;
                            margin-right: 7px;
                            margin-bottom: 7px;
                            background: #f5f5f5;
                            border-radius: 20px;
                            border: 1px solid #e2e2e2;
                            padding: 4px 7px;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                    }
                }
            }

            .add_list {
                ul {
                    padding-top: 10px;

                    li {
                        padding: 12px 0;
                        margin-left: 30px;
                        font-size: 1.1rem;
                        list-style-type: disc;
                        border-bottom: 1px solid #eee;

                        .list_content {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                margin-right: 10px;
                            }

                            input {
                                width: calc(100% - 38px);
                                margin-right: 5px;
                            }

                            .buttons_area {
                                display: flex;
                            }

                            .button {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: 38px;
                                height: 38px;
                                border-radius: 5px;
                                font-size: .9rem;
                                margin-right: 4px;
                                cursor: pointer;
                            }

                            .edit {
                                border: 1px solid #a7a7a7;
                                color: #a7a7a7;
                            }

                            .confirm {
                                border: 1px solid #49c5ff;
                                color: #49c5ff;
                            }

                            .remove {
                                border: 1px solid #ff4949;
                                color: #ff4949;
                            }
                        }
                    }
                }
            }
        }

        .slide_images {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                display: none;
            }

            label {
                width: 100%;
                height: 100%;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
            
            ul {
                display: flex;
                width: 100%;
                height: 100px;
                
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    height: inherit;
                    background: #f7f7f7;
                    border-radius: 5px;
                    color: #adadad;
                    cursor: pointer;
                    overflow: hidden;

                    .icon_upload {
                        width: 20px;
                        height: auto;
                        margin-right: 5px;
                    }

                    .uploaded_image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .tab_area {
            margin-top: 50px;

            ul {
                display: flex;

                li {
                    width: 50%;
                    text-align: center;
                    padding: 15px 0;
                    border-bottom: 2px solid #c5c5c5;
                    color: #c5c5c5;
                    cursor: pointer;

                    &.current {
                        border-bottom: 2px solid #000;
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
        }

        .map_area {
            .daum_address {
                width: 100%;
                height: 370px !important;
            }

            .kakao_map {
                width: 100%;
                height: 350px;
                border-radius: 5px;
            }

            .map_location_area {
                .address_controller {
                    display: flex;
                    justify-content: space-between;
                    margin: 30px 0 5px 0;

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    button {
                        background: #a0a0a0;
                        color: #fff;
                        border: 1px solid #a0a0a0;
                        padding: 3px 7px;
                        border-radius: 5px;
                        transition: .25s;

                        &:hover {
                            background: #000;
                            color: #fff;
                            border: 1px solid #000;
                            transition: .25s;
                        }
                    }

                    .address {
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
                }
            }
        }
        
    }

    .submit_area {
        width: calc(1155px - 825px - 20px);
        height: inherit;

        .static_submit_area {
            position: sticky;
            top: 20px;
            
            padding: 15px;
            border: 1px solid #eee;
            border-radius: 5px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 45px;
                border-radius: 5px;
                margin-bottom: 7px;
                font-weight: 500;
            }

            .title {
                font-size: 1.3rem;
                font-weight: 700;
                margin: 0 0 3px 0;
                padding: 0;
            }

            .description {
                font-size: .9rem;
                font-weight: 500;
                margin: 0 0 10px 0;
                padding: 0;
                color: #878787;
            }

            .submit_controller {
                width: 100%;
                height: auto;

                .submit {
                    background: #000;
                    border: 1px solid #000;
                    color: #fff;
                }
            }

            .check_list_area {
                margin: 20px 0;
                ul {
                    li {
                        display: flex;
                        align-items: center;

                        font-size: 0.9rem;
                        color: #878787;
                        margin-bottom: 5px;

                        img {
                            width: 10px;
                            height: auto;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.toast_container {
    width: 100%;

    * {
        font-size: 1rem;
    }

    img {
        width: inherit;
        height: auto;
    }
}