/*
 * 메인 화면 스타일
 * @author 이우진(pappagallos@kakao.com)
 */

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1150px;
    padding: 20px 0;
    margin: 0 auto;
}